<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YAMoDaS — Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
    <div class="page-header">
        <h1>YAMoDaS</h1>
    </div>
        <form action="/list" method="get">
            <input type="text" name="search" placeholder="Enter Title Here">
            <input type="submit" value="Find Movie">
        </form>
        <hr>
    </div>
    <div class="footer">
        <div class="container">
            <p class="text-muted text-right">A RootRoute Production</p>
        </div>
    </div>
</body>
</html>